<section class="heading heading--about">
    <div class="container">
        <h2 class="heading__title">
            About The Agency
        </h2>
        <p class="heading__desc">
            Welcome to Lian
        </p>
    </div>
</section>
<section class="container">
    <div class="section-desc section-desc--flex">
        <img class="section-desc__img" src="./assets/img/our-story-img.jpg" alt="">
        <div class="section-desc--story">
            <h3 class="section-desc__title section-desc__title--small">
                Our Story
            </h3>
            <p class="section-desc__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br> 
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad <br> 
                minim veniam, quis nostrud exerci tation ullamcorper suscipit.
            </p>
            <p class="section-desc__text">
                Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id <br> 
                quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est <br> 
                usus legentis in iis qui facit eorum claritatem.        
            </p>
            <h3 class="section-desc__title section-desc__title--small">
                Our SKills
            </h3>
            <img src="./assets/img/skills-img.svg" alt="">
        </div>
    </div>
    <div class="section-desc section-desc--team">
        <h3 class="section-desc__title">
            Awesome Team
        </h3>
        <p class="section-desc__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis <br> 
            nostrud exerci tation ullamcorper suscipit.
        </p>
        <div class="section-desc__gallery team-gallery container">
            <figure class="team-gallery__item">
                <img src="./assets/img/ceo-1.jpg" alt="">
                <figcaption class="team-gallery__desc">
                    <h4>
                        Lian Joy
                    </h4>
                    <span>
                        CEO/Founder
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                    </p>
                </figcaption>
            </figure>
            <figure class="team-gallery__item">
                <img src="./assets/img/ceo-2.jpg" alt="">
                <figcaption class="team-gallery__desc">
                    <h4>
                        Albert Thanh 
                    </h4>
                    <span>
                        CEO/Founder
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                    </p>
                </figcaption>
            </figure>
            <figure class="team-gallery__item">
                <img src="./assets/img/ceo-3.jpg" alt="">
                <figcaption class="team-gallery__desc">
                    <h4>
                        Jenn Pereira 
                    </h4>
                    <span>
                        CEO/Founder
                    </span>
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetuer adipi scing elit, sed diam nonu mmy nibh euis mod tinci 
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>
</section>