<section class="container container--blog">
    <div class="blog-preview">
        <div class="blog-preview__item">
            <article class="blog-post blog-post--preview">
                <header class="blog-post__header blog-post__header--preview">
                    <span class="blog-post__tag">
                        WordPress        
                    </span>
                    <h2 class="blog-post__title blog-post__title--preview">
                        I am a Blog Post Title
                    </h2>
                    <span class="blog-post__author">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/solid.svg#user"></use>
                        </svg>
                        by Jenn Pereira         
                    </span>
                </header>
                <div class="blog-post__content blog-post__content--preview">
                    <p class="blog-post__text blog-post__text--preview">
                        Phasellus et nisl tellus. Etiam facilisis eu nisi 
                        scelerisque faucibus. Proin semper suscipit 
                        magna, nec imperdiet lacus semper vitae. 
                        Sed hendrerit enim non justo posuere 
                        placerat eget purus mauris. Etiam facilisis 
                        eu nisi scelerisque faucibus...
                    </p>
                </div>
                <footer class="blog-post__footer blog-post__footer--preview">
                    <span class="blog-post__date blog-post__date--preview">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/regular.svg#calendar"></use>
                        </svg>
                        on July 19, 2016 
                    </span>
                    <div class="blog-post__stat blog-post__stat--preview">
                        <span class="blog-post__stat--shares">
                            <svg class="icon icon--blog-preview">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#share-alt"></use>
                            </svg>        
                        </span>
                        <span class="blog-post__stat--likes">
                            <svg class="icon icon--blog-preview icon--padding-left">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#heart"></use>
                            </svg>        
                        </span>
                    </div>
                </footer>
            </article>
            <article class="blog-post blog-post--preview">                    
                <img class="blog-post__cover blog-post__cover--preview" src="./assets/img/blog-post-cover-img-1.jpg" alt="">
                <header class="blog-post__header blog-post__header--preview">
                    <h2 class="blog-post__title blog-post__title--preview">
                        I am a Blog Post with an Awesome Image
                    </h2>
                    <span class="blog-post__author">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/solid.svg#user"></use>
                        </svg>
                        by Jenn Pereira         
                    </span>
                </header>
                <div class="blog-post__content blog-post__content--preview">
                    <p class="blog-post__text blog-post__text--preview">
                        Proin semper suscipit magna, nec imperdiet 
                        lacus semper vitae. Sed hendrerit enim non 
                        justo posuere placerat eget purus mauris...
                    </p>
                </div>
                <footer class="blog-post__footer blog-post__footer--preview">
                    <span class="blog-post__date blog-post__date--preview">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/regular.svg#calendar"></use>
                        </svg>
                        on July 19, 2016 
                    </span>
                    <div class="blog-post__stat blog-post__stat--preview">
                        <span class="blog-post__stat--shares">
                            <svg class="icon icon--blog-preview">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#share-alt"></use>
                            </svg>        
                        </span>
                        <span class="blog-post__stat--likes">
                            <svg class="icon icon--blog-preview icon--padding-left">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#heart"></use>
                            </svg>        
                        </span>
                    </div>
                </footer>
            </article>
            <article class="blog-post blog-post--preview">
                <img class="blog-post__cover blog-post__cover--preview blog-post__cover--empty" src="./assets/img/blog-post-cover-img-2.jpg" alt="">
            </article>
        </div>
        <div class="blog-preview__item">
            <article class="blog-post blog-post--preview">
                <img class="blog-post__cover blog-post__cover--preview" src="./assets/img/blog-post-cover-img-3.jpg" alt="">
                <header class="blog-post__header blog-post__header--preview">
                    <h2 class="blog-post__title blog-post__title--preview">
                        I am a Blog Post with an Awesome Image
                    </h2>
                    <span class="blog-post__author">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/solid.svg#user"></use>
                        </svg>
                        by Jenn Pereira         
                    </span>
                </header>
                <div class="blog-post__content blog-post__content--preview">
                    <p class="blog-post__text blog-post__text--preview">
                        Proin semper suscipit magna, nec imperdiet 
                        lacus semper vitae. Sed hendrerit enim non 
                        justo posuere placerat eget purus mauris...
                    </p>
                </div>
                <footer class="blog-post__footer blog-post__footer--preview">
                    <span class="blog-post__date blog-post__date--preview">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/regular.svg#calendar"></use>
                        </svg>
                        on July 19, 2016 
                    </span>
                    <div class="blog-post__stat blog-post__stat--preview">
                        <span class="blog-post__stat--shares">
                            <svg class="icon icon--blog-preview">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#share-alt"></use>
                            </svg>        
                        </span>
                        <span class="blog-post__stat--likes">
                            <svg class="icon icon--blog-preview icon--padding-left">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#heart"></use>
                            </svg>        
                        </span>
                    </div>
                </footer>
            </article>  
            <article class="blog-post blog-post--preview">
                <img class="blog-post__cover blog-post__cover--preview blog-post__cover--empty" src="./assets/img/blog-post-cover-img-4.jpg" alt="">
            </article> 
            <article class="blog-post blog-post--preview">
                <img class="blog-post__cover blog-post__cover--preview" src="./assets/img/blog-post-cover-img-5.jpg" alt="">
                <header class="blog-post__header blog-post__header--preview">
                    <h2 class="blog-post__title blog-post__title--preview">
                        I am a Blog Post with an Awesome Image
                    </h2>
                    <span class="blog-post__author">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/solid.svg#user"></use>
                        </svg>
                        by Jenn Pereira         
                    </span>
                </header>
                <div class="blog-post__content blog-post__content--preview">
                    <p class="blog-post__text blog-post__text--preview">
                        Proin semper suscipit magna, nec imperdiet 
                        lacus semper vitae. Sed hendrerit enim non 
                        justo posuere placerat eget purus mauris...
                    </p>
                </div>
                <footer class="blog-post__footer blog-post__footer--preview">
                    <span class="blog-post__date blog-post__date--preview">
                        <svg class="icon icon--blog-preview">
                            <use xlink:href="@@staticUrl/img/sprites/regular.svg#calendar"></use>
                        </svg>
                        on July 19, 2016 
                    </span>
                    <div class="blog-post__stat blog-post__stat--preview">
                        <span class="blog-post__stat--shares">
                            <svg class="icon icon--blog-preview">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#share-alt"></use>
                            </svg>        
                        </span>
                        <span class="blog-post__stat--likes">
                            <svg class="icon icon--blog-preview icon--padding-left">
                                <use xlink:href="@@staticUrl/img/sprites/solid.svg#heart"></use>
                            </svg>        
                        </span>
                    </div>
                </footer>
            </article>     
        </div>
    </div>
    <div class="blog-sidebar">
        <div class="blog-sidebar__item blog-search">
            <input class="blog-search__item" type="text" name="search-field" id="search-field" placeholder="Search">
            <button class="blog-search__button" type="submit">
                <svg class="icon icon--blog-search">
                    <use xlink:href="@@staticUrl/img/sprites/solid.svg#search"></use>
                </svg>
            </button>
        </div>
        <div class="blog-sidebar__item">
            <h3 class="section-desc__title section-desc__title--sidebar">
                Recent Posts        
            </h3>
            <ul class="blog-preview blog-preview--sidebar">
                <li class="blog-post blog-post--sidebar">
                    <img class="blog-post__cover blog-post__cover--sidebar" src="./assets/img/blog-post-img-sidebar-1.jpg" alt="">
                    <header class="blog-post__header blog-post__header--sidebar">    
                    <h2 class="blog-post__title blog-post__title--sidebar">
                            Lorem ipsum dolor sit amet, consec
                        </h2>
                        <span class="blog-post__date blog-post__date--sidebar">
                            July 5, 2016
                        </span>
                    </header>
                </li>
                <li class="blog-post blog-post--sidebar">
                    <img class="blog-post__cover blog-post__cover--sidebar" src="./assets/img/blog-post-img-sidebar-2.jpg" alt="">
                    <header class="blog-post__header blog-post__header--sidebar">
                        <h2 class="blog-post__title blog-post__title--sidebar">
                            Ut wisi enim ad minim veniam, quis
                        </h2>
                        <span class="blog-post__date blog-post__date--sidebar">
                            July 17, 2016
                        </span>
                    </header>
                </li>
                <li class="blog-post blog-post--sidebar">
                    <img class="blog-post__cover blog-post__cover--sidebar" src="./assets/img/blog-post-img-sidebar-3.jpg" alt="">
                    <header class="blog-post__header blog-post__header--sidebar">
                        <h2 class="blog-post__title blog-post__title--sidebar">
                            Aliquip ex ea commodo aliquam erat volutpat
                        </h2>
                        <span class="blog-post__date blog-post__date--sidebar">
                            July 21, 2016
                        </span>
                    </header>
                </li>
                <li class="blog-post blog-post--sidebar">
                    <img class="blog-post__cover blog-post__cover--sidebar" src="./assets/img/blog-post-img-sidebar-4.jpg" alt="">
                    <header class="blog-post__header blog-post__header--sidebar">
                        <h2 class="blog-post__title blog-post__title--sidebar">
                            Ut wisi enim ad minim veniam, quis
                        </h2>
                        <span class="blog-post__date blog-post__date--sidebar">
                            July 17, 2016
                        </span>
                    </header>
                </li>
            </ul>
        </div>
        <div class="blog-sidebar__item">
            <h3 class="section-desc__title section-desc__title--sidebar">
                Popular tags        
            </h3>
            <ul class="blog-sidebar__tags">
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        construction
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        engineering
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        architecture
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        structural design
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        civil engineer
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        industrial
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        management
                    </a>
                </li>
                <li class="blog-post__tag blog-post__tag--small">
                    <a href="">
                        mechanical
                    </a>
                </li>
            </ul>
        </div>
        <div class="blog-sidebar__item">
            <h3 class="section-desc__title section-desc__title--sidebar">
                Instagram
            </h3>
            <ul class="insta-widget">
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-1.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-2.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-3.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-4.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-5.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-6.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-7.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-8.jpg" alt="">
                </li>
                <li class="insta-widget__item">
                    <img src="./assets/img/blog-insta-img-9.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>
