<article class="blog-post">
    <header class="blog-post__header">
        <h2 class="blog-post__title">
            I am a Blog Post with an Awesome Image
        </h2>
        <div class="blog-post__info blog-info">
            <span class="blog-post__author blog-info__item">
                by Jenn Pereira         
            </span>
            <span class="blog-post__date blog-info__item">
                February 28, 2015
            </span>
            <span class="blog-post__likes blog-info__item">
                <svg class="icon">
                    <use xlink:href="@@staticUrl/img/sprites/regular.svg#heart"></use>
                </svg>
                324 likes
            </span>
        </div>
        <img class="blog-post__cover" src="./assets/img/blog-post-cover-img.jpg" alt="">
    </header>
    <div class="blog-post__content">
        <p class="blog-post__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad 
            minim veniam, quis nostrud exerci tation ullamcorper suscipit.
        </p>
        <p class="blog-post__text">
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
            facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te 
            feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim 
            placerat facer possim assum.
        </p>
        <p class="blog-post__quote">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam 
            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Lorem 
            ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
        </p>
        <h3 class="blog-post__heading"> 
            This is a Heading
        </h3>
        <p class="blog-post__text">
            Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt 
            lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem 
            consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum 
            formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, 
            fiant sollemnes in futurum.
        </p>
        <p class="blog-post__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
            aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril 
            delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue.
        </p>
    </div>
</article>
<section class="container container--blog-comment">
    <h3 class="section-desc__title section-desc__title--blog-comment">
        Leave a Comment        
    </h3>
    <div class="comments">
        <div class="comments__user-info">
            <input class="comments__item comments__item--name" type="text" name="user-name" id="user-name" placeholder="Name">
            <input class="comments__item comments__item--email" type="email" name="user-email" id="user-email" placeholder="Email">
            <input class="comments__item comments__item--website" type="url" name="user-site" id="user-site" placeholder="Website">
        </div>
        <textarea class="comments__item comments__item--message" name="message" id="message" rows="5" placeholder="Message"></textarea>
        <button class="button button--comments" type="submit">
            Send Message        
        </button>
    </div>
</section>