<section class="container container--contacts">
    <div class="section-desc section-desc--contacts">
        <div class="section-desc__heading">
            <h3 class="section-desc__title section-desc__title--contacts">
                Office Info
            </h3>
            <span class="section-desc__subtitle">
                People Behind the Success of our Company
            </span>
        </div>
        <div class="section-desc__content">
            <p class="section-desc__text section-desc__text--contacts">
                <b>Office Hours:</b>  Mon-Friday 8am - 10pm
            </p>
            <p class="section-desc__text section-desc__text--contacts">
                <b>Address:</b> Igbalangao, Bugasong, Antique
            </p>
            <p class="section-desc__text section-desc__text--contacts">
                <b>Tell:</b>  123-456-7890 <br>
                <b>Fax:</b>  123-456-7890
            </p>
        </div>
    </div>
    <div class="contacts-form">
        <div class="contacts-form__user-info">
            <input class="contacts-form__item contacts-form__item--name" type="text" name="user-name" id="user-name" placeholder="Name">
            <input class="contacts-form__item contacts-form__item--email" type="email" name="user-email" id="user-email" placeholder="Email">
        </div>
        <textarea class="contacts-form__message" name="message" id="message" rows="7" placeholder="Message"></textarea>
        <button class="button button--comments" type="submit">
            Send Message        
        </button>
    </div>
</section>
<section class="container--location">

</section>
<section class="container container--values">
    <div class="section-desc">
        <h3 class="section-desc__title">
            Our Values
        </h3>
        <p class="section-desc__text section-desc__text--values">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis <br>
            nostrud exerci tation ullamcorper suscipit.
        </p>
    </div>
    <div class="section-desc__gallery values">
        <article class="values__item">
            <img src="/assets/img/values-img-1.jpg" alt="">
            <h4 class="section-desc__title section-desc__title--small section-desc__title--values">
                Who we are
            </h4>
            <p class="section-desc__text section-desc__text--values">
                Lorem ipsum dolor sit amet, consectetuer adipiscing 
                elit, sed diam nonummy nibh euismod tincidunt ut 
                laoreet dolore magna aliquam.
            </p>
        </article>
        <article class="values__item">
            <img src="/assets/img/values-img-2.jpg" alt="">
            <h4 class="section-desc__title section-desc__title--small section-desc__title--values">
                Our vision
            </h4>
            <p class="section-desc__text section-desc__text--values">
                Typi non habent claritatem insitam; est usus legentis in 
                iis qui facit eorum claritatem. Investigationes 
                demonstraverunt lectores legere me.
            </p>
        </article>
        <article class="values__item">
            <img src="/assets/img/values-img-3.jpg" alt="">
            <h4 class="section-desc__title section-desc__title--small section-desc__title--values">
                Our mission
            </h4>
            <p class="section-desc__text section-desc__text--values">
                Duis autem vel eum iriure dolor in hendrerit in vulputate 
                velit esse molestie consequat, vel illum dolore eu 
                feugiat nulla facilisis at vero eros et accumsan.
            </p>
        </article>
    </div>
</section>