<footer class="footer">
    <div class="logo">
        <img src="./assets/img/icons/logo.png" alt="">
    </div>
    <ul class="socials socials--footer">
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#facebook-f"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#google-plus-g"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#linkedin-in"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#dribbble"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#pinterest-p"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="#">
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/brands.svg#instagram"></use>
                    </svg>
                </a>
            </li>
    </ul>
    <div class="copyright">
        © 2016 <b> Mulitix Theme </b> by ThemeForces. All Rights Reserved.
    </div>
</footer>