<header class="header">
    <div class="container container--header">
        <div class="logo">
            <img src="./assets/img/icons/logo.png" alt="">
        </div>
        <ul class="nav">
            <li class="nav__item">
                <a href="index.html" class="nav__link">
                    home
                </a>
            </li>
            <li class="nav__item">
                <a href="about.html" class="nav__link">
                    about
                </a>
            </li>
            <li class="nav__item">
                <a href="portfolio.html" class="nav__link">
                    portfolio
                </a>
            </li>
            <li class="nav__item">
                <a href="blog.html" class="nav__link">
                    blog
                </a>
            </li>
            <li class="nav__item">
                <a href="contact.html" class="nav__link">
                    contact
                </a>
            </li>
            <a class="site-search" href="#">
                <svg>
                    <use xlink:href="@@staticUrl/img/sprites/solid.svg#search"></use>
                </svg>
            </a>
        </ul>
    </div>
</header>