<section class="container--body">
    <ul class="body-nav container">
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                all
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                logo
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                mobile app
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                wordpress
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                web design
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                ui/ux
            </a>
        </li>
        <li class="body-nav__item">
            <a class="body-nav__link" href="#">
                branding
            </a>
        </li>
    </ul>
    <div class="catalogue container">
        <ul class="catalogue-col">
            <li class="catalogue-col__item">
                <img class="catalogue-col__img" src="./assets/img/catalogue-img-1.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-2.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-3.jpg" alt="">
            </li>
        </ul>
        <ul class="catalogue-col">
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-4.jpg" alt="">
            </li>
            <li class="catalogue-col__item catalogue-col__item--hover">
                <img class="catalogue-col__img" src="./assets/img/catalogue-img-5.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-6.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-7.jpg" alt="">
            </li>
        </ul>
        <ul class="catalogue-col">
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-8.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-9.jpg" alt="">
            </li>
            <li class="catalogue-col__item">
                <img src="./assets/img/catalogue-img-10.jpg" alt="">
            </li>
            </ul>
    </div>
    <button class="button button--gray">
        load more
    </button>
</section>