<section>
    <div id="slider" class="slider">
        <div class="slide slide--two">
            <div class="container">
                <h2 class="slider__title">
                    Design & Branding
                </h2>
                <p class="slider__desc">
                    We Deliver Quality Results
                </p>
            </div>
        </div>
        <div class="slide slide--one">
            <div class="container">
                <h2 class="slider__title">
                    Lian Creative Agency
                </h2>
                <p class="slider__desc">
                    Minimal Freelance Portfolio 
                </p>
            </div>
        </div>
        <div class="slide slide--two">
            <div class="container">
                <h2 class="slider__title">
                    Design & Branding
                </h2>
                <p class="slider__desc">
                    We Deliver Quality Results
                </p>
            </div>
        </div>
    </div>
</section>