<div class="portfolio-nav">
    <ul class="nav-bar container">
        <ul class="nav-bar__arrows">
            <li class="nav-bar__item">
                <a class="nav-bar__link" href="#">
                    <svg class="icon icon--nav icon--padding-right">
                        <use xlink:href="@@staticUrl/img/sprites/solid.svg#angle-left"></use>
                    </svg>
                    previous
                </a>
            </li>
            <li class="nav-bar__item">
                <a  class="nav-bar__link" href="#">
                    next
                    <svg class="icon icon--nav icon--padding-left">
                        <use xlink:href="@@staticUrl/img/sprites/solid.svg#angle-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <li  class="nav-bar__item">
            <a  class="nav-bar__link" href="#">
                <svg class="icon icon--nav icon--padding-right">
                    <use xlink:href="@@staticUrl/img/sprites/solid.svg#list-ul"></use>
                </svg>
                show all
            </a>
        </li>
    </ul>
</div>
<article class="container portfolio-post">
    <div class="portfolio-post__desc">
        <div class="portfolio-post__heading">
            <h3 class="portfolio-post__title">
                Pereira Creative Agency
            </h3>
            <span class="portfolio-post__sub-title">
                Branding Design        
            </span>
        </div>
        <div class="portfolio-post__body">
            <div class="portfolio-post__stat">
                <span>
                    February 28, 2015
                </span>
                <span>
                    <svg class="icon">
                        <use xlink:href="@@staticUrl/img/sprites/regular.svg#heart"></use>
                    </svg>
                    324 likes
                </span>
            </div>
            <p class="portfolio-post__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br> 
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad <br> 
                minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad <br> 
                minim veniam, quis nostrud exerci tation ullamcorper suscipit.
            </p>
        </div>
        <div class="portfolio-post__footer">
            <h4>
                Role On Project:        
            </h4>
            <p>
                Project Designer, Lead Designer, Markerting Head        
            </p>
            <h4>
                Tags:        
            </h4>
            <p>
                Mobile App, UI/UX design        
            </p>
        </div>
        <div class="portfolio-post__socials">
            <button class="button button--socials">
                <svg class="icon icon--button">
                    <use xlink:href="@@staticUrl/img/sprites/solid.svg#share-alt"></use>
                </svg>
                share
            </button>
            <ul class="socials socials--portfolio">
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#facebook-f"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#google-plus-g"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#linkedin-in"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#dribbble"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#pinterest-p"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item socials__item--portfolio">
                    <a class="socials__link socials__link--portfolio" href="#">
                        <svg class="icon">
                            <use xlink:href="@@staticUrl/img/sprites/brands.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portfolio-post__gallery portfolio-gallery">
            <img class="portfolio-gallery__item portfolio-gallery__item--prewiev" src="./assets/img/portfolio-img-1.jpg" alt="">
            <ul class="portfolio-gallery__list">
                <li class="portfolio-gallery__item">
                    <img src="./assets/img/portfolio-img-2.jpg" alt="">
                </li>
                <li class="portfolio-gallery__item">
                    <img src="./assets/img/portfolio-img-3.jpg" alt="">
                </li>
                <li class="portfolio-gallery__item">
                    <img src="./assets/img/portfolio-img-4.jpg" alt="">
                </li>
                <li class="portfolio-gallery__item">
                    <img src="./assets/img/portfolio-img-5.jpg" alt="">
                </li>
            </ul>
    </div>
    </div>
</article>
<section class="container">
    <div class="section-desc section-desc--portfolio-related">
        <h3 class="section-desc__title">
            Related Works
        </h3>
        <p class="section-desc__text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
        </p>
        <div class="section-desc__gallery portfolio-related container">
            <img class="portfolio-related__img" src="./assets/img/portfolio-related-img-1.jpg" alt="">
            <img class="portfolio-related__img" src="./assets/img/portfolio-related-img-2.jpg" alt="">
            <img class="portfolio-related__img" src="./assets/img/portfolio-related-img-3.jpg" alt="">
        </div>
    </div>
</section>