.blog-post {
    width: 945px;
    margin: 70px auto 85px;

    &--preview {
        box-sizing: border-box;
        width: 358px;
        margin: 0 30px 30px 0;
        background-color: #ffffff;        
    }

    &__header {
        text-align: center;

        &--preview {
            text-align: left;
            padding: 40px 35px 10px 45px;
        }
    }

    &__title {
        color: #333333;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 4.5px;
        line-height: 30px;
        text-transform: uppercase; 
        margin-bottom: 15px;  
        
        &--preview {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;   
            text-transform: none; 
            letter-spacing: normal; 
            text-align: left; 
            margin: 0 0 5px;      
        }
    }

    &__info {
        width: 40%;
        margin: 0 auto 25px;
        color: #777777;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.35px;
    }

    &__cover {
        width: 100%;
    }

    &__content {
        margin: 50px auto;

        &--preview {
            margin: 5px auto 45px;
            padding: 0 40px 0 45px;
        }
    }

    &__text {
        padding: 0 68px 35px;
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        font-weight: 400;
        letter-spacing: 0.35px;
        line-height: 30px;

        &--preview {
            padding: 0;
            font-weight: 400;
            line-height: 24px;            
        }
    }

    &__quote {
        color: #777777;
        font-family: "PT Serif";
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        line-height: 30px;
        padding: 38px 25px 30px;
        border: 1px solid #0000002f; 
        border-left-width: 4px;
        margin-bottom: 45px;    
    }

    &__heading {
        padding: 0 68px 35px;
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 36px;
        text-transform: uppercase;                
    }

    &__tag {
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase; 
        padding: 8px 15px; 
        background-color: #000000;
        margin-bottom: 25px;      
    }

    &__author {
        display: inline-block;
        color: #cccccc;
        font-size: 13px;
        font-weight: 700;
        line-height: 30px;  
        text-align: left;      
    }

    &__footer {
        padding: 0 35px 40px 45px;
        display: flex;
        justify-content: space-between;
        color: #9a9a9a;
        font-size: 13px;
        font-weight: 400;
    }
}

.blog-info {
    display: flex;
    justify-content: space-between;
}

.comments {
    width: 810px;
    margin: 0 auto 50px;

    &__user-info {
        width: 810px;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 25px;
    }

    &__item {
        box-sizing: border-box;
        width: 250px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        font-size: 14px;
        font-style: italic;
        padding: 14px;

        &--name {
            border-left-width: 3px;
        }

        &--message {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    textarea::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: italic;
    }
}

.blog-preview {
    width: 65%;
    display: flex;
}

.blog-sidebar {
    width: 32%;
}
