.blog-post {
    width: 945px;
    margin: 70px auto 85px;

    &--preview {
        box-sizing: border-box;
        width: 358px;
        margin: 0 30px 30px 0;
        background-color: #ffffff;        
    }

    &--sidebar {
        margin: 25px 25px 0;
        width: auto;
        display: flex;

        &:last-child {
            margin-bottom: 25px;
        }
    }

    &--hidden {
        position: relative;
    }

    &__header {
        text-align: center;

        &--preview {
            text-align: left;
            padding: 40px 35px 10px 45px;
        }

        &--sidebar {
            text-align: left;
            padding-left: 15px;
        }
    }

    &__title {
        color: #333333;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 4.5px;
        line-height: 30px;
        text-transform: uppercase; 
        margin-bottom: 15px;  
        
        &--preview {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;   
            text-transform: none; 
            letter-spacing: normal; 
            text-align: left; 
            margin: 0 0 5px;      
        }

        &--sidebar {
            color: #3d3d3d;
            font-size: 16px;
            font-weight: 500;  
            line-height: 1.25;
            letter-spacing: normal;
            text-transform: none; 
            margin-bottom: 5px;        
        }

        &--hidden {
            color: #ffffff;
        }
    }

    &__date {

        &--sidebar {
            font-size: 13px;
            font-weight: 300;
            color: #777777;        
        }
    }

    &__info {
        width: 40%;
        margin: 0 auto 25px;
        color: #777777;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.35px;
    }

    &__cover {
        width: 100%;

        &--sidebar {
            width: 90px;
            height: 65px;
        }
    }

    &__content {
        margin: 50px auto;

        &--preview {
            margin: 5px auto 45px;
            padding: 0 40px 0 45px;
        }

        &--hidden {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            opacity: 0;
            transition: 0.3s ease;

            &:hover {
                opacity: 1;
                transition: 0.3s ease;
            }

            &::before {
                content: '';
                background-color: #000000;
                opacity: 0.85;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: -1;
            }
        }
    }

    &__text {
        padding: 0 68px 35px;
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        font-weight: 400;
        letter-spacing: 0.35px;
        line-height: 30px;

        &--preview {
            padding: 0;
            font-weight: 400;
            line-height: 24px;            
        }

        &--hidden {
            color: #e5e5e5;
        }
    }

    &__quote {
        color: #777777;
        font-family: "PT Serif";
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        line-height: 30px;
        padding: 38px 25px 30px;
        border: 1px solid #0000002f; 
        border-left-width: 4px;
        margin-bottom: 45px;    
    }

    &__heading {
        padding: 0 68px 35px;
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 36px;
        text-transform: uppercase;                
    }

    &__tag {
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase; 
        padding: 8px 15px; 
        background-color: #000000;
        margin-bottom: 25px; 
        
        &--small {
            color: #9c9c9c;
            background-color: #ffffff;
            text-transform: none;
            font-weight: normal;
            border: solid 1px #eeeeee;
            padding: 10px 15px;
            margin: 0 6px 10px 0;
            box-sizing: border-box;
        }
    }

    &__author {
        display: inline-block;
        color: #cccccc;
        font-size: 13px;
        font-weight: 700;
        line-height: 30px;  
        text-align: left;      
    }

    &__footer {
        padding: 0 35px 40px 45px;
        display: flex;
        justify-content: space-between;
        color: #9a9a9a;
        font-size: 13px;
        font-weight: 400;

        &--hidden {
            margin-top: -30px;
        }
    }
}

.blog-info {
    display: flex;
    justify-content: space-between;
}

.comments {
    width: 810px;
    margin: 0 auto 50px;

    &__user-info {
        width: 810px;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 25px;
    }

    &__item {
        box-sizing: border-box;
        width: 250px;
        border: 1px solid #e1e1e1;
        background-color: #ffffff;
        font-size: 14px;
        font-style: italic;
        padding: 14px;

        &--name {
            border-left-width: 3px;
        }

        &--message {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    textarea::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: italic;
    }
}

.blog-preview {
    width: 65%;
    display: flex;

    &--sidebar {
        background-color: #ffffff;
        flex-direction: column;
        width: auto;
    }
}

.blog-sidebar {
    width: 32%;

    &__item {
        background-color: #ffffff;
        margin-bottom: 27px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        padding: 35px 20px 20px;
    }
}

.blog-search {
    position: relative;

    &__item {
        box-sizing: border-box;
        width: 100%;
        background-color: #ffffff;    
        font-size: 16px;
        font-style: italic;
        padding: 24px 45px 24px 30px;   
    }

    &__button {
        position: absolute;
    }
}

.insta-widget {
    padding: 35px 25px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        margin-bottom: 5px;
    }
}
