body {
    max-width: 1600px;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;

	&--header {
			display: flex;
			justify-content: space-between;
	}

	&--body {
		display: flex;
		flex-direction: column;
        align-items: center;  
        padding-bottom: 70px;    
	}
}

.my-dots {
		position: absolute;
		bottom: 55px;
		display: block;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	
.my-dots li {
		position: relative;
		display: inline-block;
		width: 15px;
		height: 15px;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 8px;
		padding: 0;
		cursor: pointer;
	}
	
.my-dots li button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: 15px;
		height: 15px;
		padding: 5px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background: transparent;
	}
	
.my-dots li button:hover,
.my-dots li button:focus {
		outline: none;
	}
	
.my-dots li button:hover:before,
.my-dots li button:focus:before {
		opacity: 1;
	}
	
.my-dots li button:before {
		font-family: 'slick';
		font-size: 6px;
		line-height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 15px;
		height: 15px;
		text-align: center;
		opacity: 0;
		color: black;
		content: '';
		background-color: #ffffff;
		border: 4px solid #000000;
		border-radius: 50%;
		box-sizing: border-box;
		 
	}
	
.my-dots li.slick-active button:before {
		opacity: .75;
		color: black;
	}

.button {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20.57px;
    text-transform: uppercase;
    letter-spacing: 0.76px;

    &--gray {
        padding: 10px 24px;
        background-color: #959595;
	}
	
	&--socials {
		background-color: #707070;
		padding: 12px 16px;
		font-size: 13px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;	
		fill: #ffffff;
		border-radius: 3px;
		letter-spacing: 0.7px;
	}
}

.icon {
    width: 14px;
	height: 14px;
	
	&--button {
		width: 12px;
		height: 12px;
	}

	&--nav {
		width: 12px;
		height: 12px;
	}

	&--padding-right {
		padding-right: 10px;
	}

	&--padding-left {
		padding-left: 10px;
	}
}

.socials {
    display: flex;
    justify-content: center;

    &__item {
		padding: 0 25px;
		
		&--portfolio {
			padding: 0 10px;
		}
    }

	&__link {
	
		&:hover {
        	fill: #000000;
		}
		
		&--portfolio {
			fill: #707070;
		}
	}

    &--footer {
        fill: #777777;
        border: 1px solid #ebebeb;
        padding: 25px 0;
        margin: 40px 0;
	}
	
	&--portfolio {
		margin-left: 15px;
		background-color: #e1e1e1;
		align-items: center;
		position: relative;

		&::before {
			content: '';
			background-image: url(../img/socials-arrow.svg);
			width: 8px;
			height: 16px;
			position: absolute;
			left: -8px;
		}
	}
}

.copyright {
    color: #9c9c9c;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.33px;    
}

.heading {
	background-color: #f0f0f2;
	margin: 0 auto;
	padding: 120px 0;
	text-align: left;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	
	&--about {
		background-image: url(../img/about-heading.jpg);
	}

	&--portfolio {
		background-image: url(../img/portfolio-heading.jpg);
	}

	&--blog {
		background-image: url(../img/blog-heading.jpg);
	}

	&--contact {
		background-image: url(../img/contact-heading.jpg);
	}

    &__img {
        display: block;
        margin: 0 auto;
	}
	
	&__title {
		display: inline-block;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-size: 48px;
		font-weight: 300;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 4.8px;
		background-color: #000000;
		padding: 11px 35px;	
		margin-bottom: 45px;	
	}

	&__desc {
		color: #000000;
		font-family: Roboto;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 7.2px;		
	}
}

.section-desc {
	font-family: 'Roboto', sans-serif;
	margin: 70px auto;
	color: #777777;
	text-align: center;

	&--flex {
		display: flex;
	}

	&--story {
		margin-left: 50px;
		text-align: left;
	}

	&--portfolio-related {
		margin-top: 140px;
	}

	&__title {
		color: #000000;
		font-family: 'Roboto';
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 12px;	
		line-height: 24px;
		text-transform: uppercase;
		padding-bottom: 40px;
		
		&--small {
			font-size: 18px;
			letter-spacing: 7.2px;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.35px;
		line-height: 30px;
		padding-bottom: 40px;		
	}

	&__gallery {
		display: flex;
		justify-content: space-between;
	}
}
